<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>



    <appSettings>
        <add key="authenticationServerAddress" value="net.tcp://localhost:4001/IAuthentication" />
        <add key="registrationServerAddress" value="net.tcp://localhost:4002/IRegistration" />
        <add key="stageServerAddress" value="net.tcp://localhost:4003/IStage" />
        <add key="timeSlotServerAddress" value="net.tcp://localhost:4004/ITimeSlot" />
        <add key="artistServerAddress" value="net.tcp://localhost:4005/IArtist" />
    </appSettings>

  <log4net>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="../../log-file.txt" />
      <appendToFile value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>

    <root>
      <level value="INFO"></level>
      <appender-ref ref="FileAppender"></appender-ref>
    </root>
  </log4net>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>