<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

    <appSettings>
        <add key="authenticationServerAddress" value="net.tcp://localhost:4001/IAuthentication" />
        <add key="registrationServerAddress" value="net.tcp://localhost:4002/IRegistration" />
        <add key="stageServerAddress" value="net.tcp://localhost:4003/IStage" />
        <add key="timeSlotServerAddress" value="net.tcp://localhost:4004/ITimeSlot" />
    </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>