<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  
  <connectionStrings>
    <add name="FestivalContext" connectionString="Data Source=./;Initial Catalog=Festival;Integrated Security=True;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <add key="authenticationServerAddress" value="net.tcp://localhost:4001/IAuthentication" />
    <add key="registrationServerAddress" value="net.tcp://localhost:4002/IRegistration" />
    <add key="stageServerAddress" value="net.tcp://localhost:4003/IStage" />
    <add key="timeSlotServerAddress" value="net.tcp://localhost:4004/ITimeSlot" />
    <add key="artistServerAddress" value="net.tcp://localhost:4005/IArtist" />
  </appSettings>

  <log4net>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="../../log-file.txt" />
      <appendToFile value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>

    <root>
      <level value="DEBUG"></level>
      <appender-ref ref="FileAppender"></appender-ref>
    </root>
  </log4net>


  
  
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>